*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

/article.html

/composeApp/workbox-config-for-wasm.js
/composeApp/workbox-config-for-js.js
/composeApp/src/webMain/resources/manifest.json
/composeApp/src/webMain/resources/icons/*
/composeApp/src/webMain/resources/registerServiceWorker.js
